# https://git-scm.com/docs/gitattributes
# $GIT_DIR/info/attributes has the highest precedence and
# can therefore overwrite the values here.
# But at least the values here overwrite global and system-wide definitions.

tests/data/** -text
.coveragerc export-ignore
create_* export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.gitlab-ci.yml export-ignore
install* export-ignore
.pre-commit-config.yaml export-ignore
uninstall export-ignore
