include doc/make.bat
include doc/Makefile
include doc/source/conf.py
include doc/source/gpl.rst
include doc/source/index.rst
include doc/source/INSTALL.txt
include doc/source/module_dabu.rst
include doc/source/schemas.rst
include doc/source/script_json_schema_from_schema_org.rst
include doc/source/script_pydabu.rst
include doc/source/test_coverage_report/index.rst
include doc/source/walkthrough.rst
include install2home
include LICENSE.txt
include manual_pydabu.pdf
include README.md
include src/dabu/analyse_data_structure/analyse_data_structure.py
include src/dabu/analyse_data_structure/__init__.py
include src/dabu/analyse_file_format/analyse_file_format_dict.py
include src/dabu/analyse_file_format/analyse_file_format.py
include src/dabu/analyse_file_format/create_checksum.py
include src/dabu/analyse_file_format/extract_hash_from_checksum_file.py
include src/dabu/analyse_file_format/__init__.py
include src/dabu/check_nasa_ames_format/check_nasa_ames_format.py
include src/dabu/check_nasa_ames_format/__init__.py
include src/dabu/check_netcdf_file/check_netcdf_file.py
include src/dabu/check_netcdf_file/__init__.py
include src/dabu/compare_json_schemas/compare_json_schemas.py
include src/dabu/compare_json_schemas/__init__.py
include src/dabu/__init__.py
include src/dabu/schema_org_data/add_properties_to_object.py
include src/dabu/schema_org_data/add_property.py
include src/dabu/schema_org_data/add_word.py
include src/dabu/schema_org_data/get_graph_item.py
include src/dabu/schema_org_data/get_property.py
include src/dabu/schema_org_data/get_schema_org_data.py
include src/dabu/schema_org_data/__init__.py
include src/dabu/schema_org_data/ispending.py
include src/dabu/schema_org_data/json_schema_from_schema_org.py
include src/dabu/schema_org_data/set_property.py
include src/dabu/scripts/__init__.py
include src/dabu/scripts/json_schema_from_schema_org/argument_parser.py
include src/dabu/scripts/json_schema_from_schema_org/__init__.py
include src/dabu/scripts/json_schema_from_schema_org/json_schema_from_schema_org_main.py
include src/dabu/scripts/pydabu/check_arg_file_not_exists.py
include src/dabu/scripts/pydabu/check_arg_file.py
include src/dabu/scripts/pydabu/__init__.py
include src/dabu/scripts/pydabu/print_json_output.py
include src/dabu/scripts/pydabu/pydabu_main.py
include src/dabu/scripts/pydabu/run_analyse_data_structure.py
include src/dabu/scripts/pydabu/run_check_data_bubble.py
include src/dabu/scripts/pydabu/run_check_file_format.py
include src/dabu/scripts/pydabu/run_check_nasa_ames_format.py
include src/dabu/scripts/pydabu/run_check_netcdf_file.py
include src/dabu/scripts/pydabu/run_common_json_format.py
include src/dabu/scripts/pydabu/run_create_data_bubble.py
include src/dabu/scripts/pydabu/run_data_bubble2jsonld.py
include src/dabu/scripts/pydabu/run_listschemas.py
include src/dabu/schemas/analyse_data_structure_output.schema
include src/dabu/schemas/dabu_requires.schema
include src/dabu/schemas/dabu.schema
include tests/data/data_bubble/00/*
include tests/data/data_bubble/01/*
include tests/data/data_bubble/02/*
include tests/data/data_bubble/03/*
include tests/data/data_bubble/04/*
include tests/docker_test_scripts/*
include tests/*.py
