include doc/make.bat
include doc/Makefile
include doc/source/conf.py
include doc/source/gpl.rst
include doc/source/index.rst
include doc/source/INSTALL.txt
include doc/source/module_dabu.rst
include doc/source/schemas.rst
include doc/source/script_json_schema_from_schema_org.rst
include doc/source/script_pydabu.rst
include doc/source/test_coverage_report/index.rst
include doc/source/walkthrough.rst
include install2home
include LICENSE.txt
include manual_pydabu.pdf
include tests/data/data_bubble/00/*
include tests/data/data_bubble/01/*
include tests/data/data_bubble/02/*
include tests/data/data_bubble/03/*
include tests/data/data_bubble/04/*
include tests/*.py
include README.md
